# misc
.DS_Store
*.pem

# local env files
.env*.local
.env

credentials.json

# LangGraph API
.langgraph_api

**/.claude/settings.local.json

# Python
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
.venv/
.ruff_cache/ 
